<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cotoara Valentin -  Personal Page</title>

    <link rel="stylesheet" href="{{ asset('css/cotoara_valentin.css') }}">
</head>
<body>

    <div class="mainContainer">
    <img src="{{ asset('images/lorem-ipsum.jpg') }}" alt="exampleImage">
        <p> -- Pagină personală -- <b>Cotoară Valentin</b> -- </p>
        <p><b> 負けるが勝ち – Makeru ga kachi</b></p>
        <p>MEANING:<br>  To lose a battle/an argument/face
                     to win something greater.
                     To stoop to conquer.</p>
        <p> This might be one of the hardest proverbs for westerners to relate to. It can be taken as just an excuse of losers. <br>However, in Japanese culture this is often considered to be the most mature thing to do. <br>This is because one must be able to control their ego in order to accept defeat gracefully, and they have to be perceptive enough to see that their admission of defeat will, in the end, bring a greater achievement/benefit than just winning the battle/argument before them."</p>
        <ul>
            <li>First</li>
            <li>Second</li>
            <li>Third</li>
            <li>Fourth</li>
            <li>Fifth</li>
        </ul>
    </div>

</body>
</html>
