
    <link rel="stylesheet" href="{{ asset("css/styleCC.css") }}">

<body>
    <div class="container">
        <div>
            <a class="button back" href="{{ path('photoGallery') }}">Back</a>
        </div>
        <div>
            {{ form(newPhotoPost) }}
        </div>
    </div>
</body>